<!-- powerbi_report.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Power BI</title>
</head>
<body>
    <h1>Reporte de Costos de Azure</h1>
    <!-- Aquí embebemos el reporte de Power BI -->
    <iframe title="TockenCost" width="100%" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiNGI4NTUyMzItN2M1ZC00N2FlLWExY2ItMDQ1OGUxNjQyZjQ3IiwidCI6ImM5ZDNmZGJkLTQ1ZjItNDY5ZS1hNGZhLTIwMGMyNGQ5N2Y0NSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>