<!-- powerbi_report.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Power BI</title>
</head>
<body>
    <h1>Reporte de Costos de Azure</h1>
    <!-- Aquí embebemos el reporte de Power BI -->
    <iframe title="ejemplo" width="100%" height="600" src="https://app.powerbi.com/reportEmbed?reportId=de793919-dad1-4fcb-a454-083a6525c8fa&autoAuth=true&ctid=c9d3fdbd-45f2-469e-a4fa-200c24d97f45" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>